<%= image_tag("
http://travelblog.viator.com/wp-content/uploads/2013/01/Viator_Thinkstock_38101-1024x794.jpg
",class:'background-image', width: '100%') %>

  <%= link_to "Search Congresspeople", current_user, id: 'start', class: "login-button light-blue lighten-3 waves-effect waves-light btn-large" %>

  <div class='login-modal hidden modal'>
    Login with Twitter to Search Your Congressperson
    <p>
    <button class='modal-login-button'><a href="/auth/twitter/" id='login'>Login</a></button>
    </p>
  </div>

<footer class='page-footer light-blue lighten-3'>
</footer>
